/* @import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
body {
  font-family: "Ephesis", cursive;
} */

/* We use dot(.) for selecting class */
.container {
  width: 600px;
  margin: 30px auto;
  background-color: gainsboro;
  padding: 20px;
}

.para {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

/* first is up-down and second is left right */
.btn {
  padding: 5px, 10px;
  text-transform: uppercase;
}

.primary-btn {
  background: blue;
  color: white;
}

.secondary-btn {
  background: gray;
  color: black;
}
